@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Indie+Flower&family=Lobster&family=Montserrat:wght@100;800&family=Poppins:wght@100&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&family=Ubuntu:wght@300&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
  html {
    font-family: "Raleway", sans-serif;
  }
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}
.content-div:hover {
  background-image: linear-gradient(
    to right,
    rgba(112, 157, 255, 0.8) hsla (242, 74%, 61% 0.8)
  );
}

.hover\:filter-blur-md:hover {
  filter: blur(8px);
}
